<div
    id="message-<%= message.id %>"
    class="message <%= message.user === user ? 'sent' : 'received' %>"
    data-controller="message"
    data-message-user-id-value="<%= message.user.id %>">
  <small class="message-info">
      <strong><%= message.user.username %></strong>
      <i><%= message.created_at.strftime("%d/%m/%g à %H:%M") %></i>
    </small>
    <p class="message-content"><%= message.content %></p>
  </div>
