
<div class="container">
  <h1 class="text-center">Trouve des potes pour jouer près de chez toi !</h1>
  <div class="row text-center p-2 mx-auto" data-controller="show-filters location-filter">
    <div class="d-grid gap-2 col-6 mx-auto">
      <button class="btn btn-primary btn-sm mt-3 p-2 rounded-pill mx-auto"
              data-action="click->show-filters#display"
              data-show-filters-target="filtersButton">
              Filtrer les résultats +
      </button>
      <%= link_to "Réinitialiser", meetings_path, class:"small-link text-decoration-none mb-3" %>
    </div>

    <div class="row mx-auto">
      <div class="filter-form d-none p-2 mb-4 mx-auto" data-show-filters-target="showFilters">
        <%= form_with url: meetings_path, method: :get, local: true do %>
          <div class="container">
            <div class="row align-items-center justify-content-center">
              <div class="my-2">
                <%= search_field_tag :location, params[:location], class: "form-control d-none", id: "aroundMe", placeholder: "Localisation", data: { location_filter_target: "aroundMeField"} %>
                <%= search_field_tag :city, params[:city], class: "form-control", id: "cityInp", placeholder: "Recherche ta ville", data: { location_filter_target: "cityInput", action: "keyup->location-filter#displayCities"} %>
                <ul data-location-filter-target="results" class="no-bullet"></ul>
                <div class="form-switch my-2 p-0">
                  <div class="d-flex justify-content-left p-0">
                    <label class="form-check-label text-muted" for="flexSwitchCheckDefault">Rechercher par géolocalisation</label>
                    <input class="form-check-input margin-left" type="checkbox" id="flexSwitchCheckDefault" data-location-filter-target="toggler" data-action="click->location-filter#revealField">
                  </div>
                </div>
                <div class="d-flex">
                  <label for="radius" class="form-label text-muted">Rayon</label>
                  <input id="radius" class="form-range margin-left-and-right" data-location-filter-target="radius"  data-action="change->location-filter#updateRadius" type="range" value="10" min="1" max="200" oninput="this.nextElementSibling.value = this.value">
                  <output ml-4>10</output>km<br>
                </div>
              </div>
              <%# hidden filter form fields %>
              <div class="my-2 d-none" type="button">
                <%= text_field_tag :lat, params[:lat], class: "form-control", placeholder: "lat", data: { location_filter_target: "fieldLat", location_filter_target: "fieldLat"} %>
              </div>
              <div class="my-2 d-none" type="button">
                <%= text_field_tag :lng, params[:lng], class: "form-control", placeholder: "lng", data: { location_filter_target: "fieldLng", location_filter_target: "fieldLng"} %>
              </div>
              <div class="col-md-5 my-2 d-none" type="button">
                <%= text_field_tag :radius, params[:radius], class: "form-control", placeholder: "radius", data: { location_filter_target: "fieldRadius"} %>
              </div>
              <%# /hidden %>
              <div class="my-2">
                <%= search_field_tag :daterange, params[:daterange], class: "form-control", placeholder: "Choisis des dates", data: { controller: "date-filter"} %>
              </div>
              <div class="my-2">
                <%= search_field_tag :search, params[:search], class: "form-control", placeholder: "Recherche par mots-clés : contrée, société ..." %>
              </div>
              <div class="">
                <%= submit_tag "Valider", class: "btn btn-success rounded-pill" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="meetings-container">
      <% if @sorted_meetings.blank? %>
        <p>Désolé, ta recherche n'a retourné aucun résultat</p>
        <%= link_to "Réinitialiser la recherche", meetings_path %>
      <% else %>

        <% @sorted_meetings.each do |meeting| %>

          <div class="meeting-card shadow rounded-4 row mb-3 shadow" style="overflow: hidden;">
            <% if meeting.user != current_user %>
              <%= link_to(meeting_path(meeting), class: "show-link") do %>

                <div class="row meeting-card-top">
                  <% unless meeting.user.profile_picture.attached? %>
                    <%= image_tag("profil.png", class: "profile-pic") %>
                  <% else %>
                    <%= cl_image_tag(meeting.user.profile_picture.key, class: "profile-pic") %>
                  <% end %>

                  <div class="col-3 p-2 <%= meeting_status_class(meeting.status) %> d-flex flex-column justify-content-center align-items-center justify-space-around">
                    <p class="fs-1 fw-bold"><%= meeting.date.strftime("%d") %></p>
                    <p><%= meeting.date.strftime("%B") %></p>
                    <p><%= meeting.date.strftime("%H:%M") %></p>
                  </div>

                  <div class="col-9 p-2" style="height: 100%;">
                    <div>
                      <div class="col-9 mx-auto">
                        <h3><%= meeting.game.name %></h3>
                      </div>
                      <h6><%= meeting.title %></h6>
                      <div class="d-none">
                        <p>
                          Joueurs :
                          <%= meeting.players_needed_min %>
                            <% if !meeting.players_needed_max.blank? %>
                            à
                            <%= meeting.players_needed_max %>
                            <% end %>
                        </p>
                      </div>
                      <p class="place-info"> <%= meeting.place_name %>, <%= meeting.place_address %> </p>
                    </div>
                  </div>
                </div>
                <div class="row meeting-card-bottom <%= meeting.full? ? "bg-danger" : "bg-warning" %>">
                  <div class="text-light d-flex justify-content-center align-items-center p-1">
                    <% if meeting.full? %>
                      <p>
                        <%= meeting.localized_status %>
                      </p>
                    <% else %>
                      <p>Recherche
                        <strong>
                          <%= meeting.players_needed_min %>
                        </strong>
                        joueurs.ses
                      </p>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>

        <% end %>
      <% end %>
    </div>

  </div>
  <%= render "shared/fixed_new_button" %>
</div>
