<div class="container chat text-dark">
  <h1>This meetings' messages</h1>
  <%= turbo_stream_from "meeting_#{@meeting.id}_messages" %>

  <div id="messages" class="messages">
    <% @meeting.messages.each do |message| %>
      <%= render "messages/message", message: message, user: current_user %>
    <% end %>
  </div>

  <%= simple_form_for [@meeting, @message],
    html: {class: "d-flex",
    data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }} do |f|
  %>
    <%# <% other_user = current_user == @meeting.user ? @meeting.user : @meeting.restaurant.user %>
    <%= f.input :content,
      label: false,
      placeholder: "Message to group", # #{other_user.username}",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.submit "Send", class: "btn btn-primary mb-3" %>
  <% end %>
</div>
