<div class="container">
  <div class="row text-center" data-controller="show-filters">
    <h1 class="my-4">Mes annonces</h1>
    <div class="meetings-container">
      <% @my_meetings.each do |meeting| %>
        <div class="meeting-card shadow rounded-4 row mb-3" style="overflow: hidden;">
          <div class="col-3 z-1 d-flex flex-column justify-content-center align-items-center <%= meeting_status_class(meeting.status) %> justify-content-center">
            <%= image_tag("profil.png", class: "img-fluid rounded-circle", style: 'height: 50px; width: 50px;') %>
            <%= meeting.date.strftime("%d/%m") %>
            <%= meeting.date.strftime("%H:%M") %>
          </div>
          <div class="col-9 px-2 pt-2">
            <h3><%= meeting.game.name %></h3>
            <p><%= meeting.title %></p>
            <p>Joueur : <%= meeting.players_needed_min %> à <%= meeting.players_needed_max %></p>
            <%= link_to "Voir mon annonce", meeting_path(meeting), class: "text-dark" %>
            <div class="row meeting-card-bottom <%= meeting.full? ? "bg-danger" : "bg-warning" %>">
              <div class="text-light d-flex justify-content-center align-items-center">
                <% if meeting.full? %>
                  <p>
                    <%= meeting.localized_status %>
                  </p>
                <% else %>
                  <p>Recherche 
                    <strong>
                      <%= meeting.players_needed_min %> 
                    </strong>
                    joueurs.ses
                  </p>
                <% end %>
              </div>
            </div>
          </div> 
        </div>
      <% end %>
    </div>
    <div class="row col-2 m-auto pt-3 gap-2">
      <%= link_to "Retour", :back, class: "btn btn-secondary" %>
      <%= link_to "Liste des jeux", meetings_path, class: "btn btn-secondary" %>
    </div>
  </div>
  <%= link_to new_meeting_path, class: "fixed-button" do %>
    <i class="fa-solid fa-plus create-icon"></i>
  <% end %>
</div>
