<div class="container">
  <div class="row text-center p-2" data-controller="show-filters">

    <h2 class="my-4">Mes annonces</h2>
    <div class="meetings-container">
      <% @my_meetings.each do |meeting| %>
        <div class="meeting-card shadow rounded-4 row mb-3" style="overflow: hidden;">

          <div class="col-3 p-2 <%= meeting_status_class(meeting.status) %>" style="height: 100%;">
            <%= image_tag("profil.png", class: "img-fluid rounded-circle", style: 'height: 50px; width: 50px;') %>
            <%= meeting.date.strftime("%d/%m") %>
            <%= meeting.date.strftime("%H:%M") %>
          </div>


          <div class="col-9 p-2" style="height: 100%;">
            <h3><strong><%= meeting.title %></strong></h3>
            <p><%= meeting.game.name %></p>
            <p>Joueur : <%= meeting.players_needed_min %> à <%= meeting.players_needed_max %></p>


              <%= link_to "Voir mon annonce", meeting_path(meeting) %>

          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= link_to new_meeting_path, class: "fixed-button" do %>
      <i class="fa-solid fa-plus create-icon"></i>
      <% end %>
</div>
