<div class="container">
  <div class="row text-center px-3" data-controller="show-filters">
    <h1 class="my-4">Mes annonces</h1>

    <div class="meetings-container p-2">

      <% @my_sorted_meetings.each do |meeting| %>

        <div class="meeting-card shadow rounded-4 row mb-3" style="overflow: hidden;">
          <%= link_to(meeting_path(meeting), class: "show-link") do %>

            <div class="row meeting-card-top">
              <% unless meeting.user.profile_picture.attached? %>
                <%= image_tag("profil.png", class: "profile-pic") %>
              <% else %>
                <%= cl_image_tag(meeting.user.profile_picture.key, class: "profile-pic") %>
              <% end %>

              <div class="col-3 p-2 <%= meeting_status_class(meeting.status) %> d-flex flex-column justify-content-center align-items-center">
                <p class="fs-1 fw-bold"><%= meeting.date.strftime("%d") %></p>
                <p><%= meeting.date.strftime("%B") %></p>
                <p><%= meeting.date.strftime("%H:%M") %></p>
            </div>

            <div class="col-9 p-2" style="height: 100%;">
              <div>
                <div class="col-9 mx-auto">
                  <h3><%= meeting.game.name %></h3>
                </div>
                <h6><%= meeting.title %></h6>
                <div class="d-none">
                  <p>
                    Joueurs :
                    <%= meeting.players_needed_min %>
                      <% if !meeting.players_needed_max.blank? %>
                      à
                      <%= meeting.players_needed_max %>
                      <% end %>
                  </p>
                </div>
                <p class="place-info"> <%= meeting.place_name %>, <%= meeting.place_address %> </p>
              </div>
            </div>
          </div>
          <div class="row meeting-card-bottom <%= meeting.full? ? "bg-danger" : "bg-warning" %>">
            <div class="text-light d-flex justify-content-center align-items-center p-1">
              <% if meeting.full? %>
                <p>
                  <%= meeting.localized_status %>
                </p>
              <% else %>
                <p>Recherche
                  <strong>
                    <%= meeting.players_needed_min %>
                  </strong>
                  joueurs.ses
                </p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    </div>

    <div class="row col-2 m-auto pt-3 gap-2">
      <%= link_to "Retour", :back, class: "btn btn-secondary" %>
      <%= link_to "Liste des jeux", meetings_path, class: "btn btn-secondary" %>
    </div>
  </div>

  <%= link_to new_meeting_path, class: "fixed-button" do %>
    <i class="fa-solid fa-plus create-icon"></i>
  <% end %>
</div>
