<div class="container p-3 mt-3">
  <div class="row justify-content-center">
    <div class="col-lg-6 shadow rounded-3 mb-3 show-card shadow" data-controller="show-meetings-interest">
      <div class="user-div d-flex align-items-center">
        <% unless @meeting.user.profile_picture.attached? %>
          <%= image_tag("profil.png", class: "img-fluid rounded-circle", style: 'height: 40px; width: 40px;') %>
        <% else %>
          <%= cl_image_tag(@meeting.user.profile_picture.key, class: "img-fluid rounded-circle", style: 'height: 40px; width: 40px;') %>
        <% end %>
        <p class="text-center m-0 fst-italic"> par <%= @meeting.user.username %></p>
          <a href="/meetings" class="btn-close close-button" aria-label="Close"></a>
      </div>

      <h2 class="pt-3 text-center"><%= @meeting.title %></h2>

      <% if @meeting.user != current_user %>
        <% if @user_request.nil? %>
        <div class="row justify-content-center mb-3">
          <button class="btn btn-primary mt-2 p-2 col-6 rounded-pill"
                  data-action="click->show-meetings-interest#display"
                  data-show-meetings-interest-target="interested">
                  Je suis intéressé.e
          </button>

          <div class="container my-5 d-none" data-show-meetings-interest-target="friends">
            <div class="row text-center">
              <%= simple_form_for @request, url: meeting_requests_path(@meeting), method: :post do |f| %>

                <%= f.input :number_of_friends,
                            label: "Tu veux participer avec des amis? Précise le à l'organisateur.rice",
                            # collection: (0..@meeting.players_needed_max - 1).map { |friends| [friends == 0 ? "Je suis seul.e" : friends == 1 ? "1 ami" : "#{friends} amis", friends] },
                            collection: (0..@meeting.players_needed_max),
                            prompt: "Sélectionnez le nombre d'amis",
                            input_html: { class: "form-control col-3", data: { price_calculator_target: "numberOfFriends" } } %>
                <div class="text-center">
                  <%= f.submit 'Envoyer la demande', class: "btn btn-default btn-primary rounded-pill" %>
                </div>

              <% end %>
            </div>
          </div>
        </div>
        <% elsif @user_request.accepted? || @user_request.interested? %>
          <div class="row justify-content-center d-flex">
            <%= link_to 'Annuler ma participation', request_path(@user_request), data: { turbo_method: :delete, turbo_confirm: "Êtes-vous certain de vouloir annuler cette demande?" }, class: "btn btn-danger mt-2 p-2 col-6 rounded-pill" %>
          </div>
        <% elsif @user_request.rejected? %>
          <div class="rejected-request bg-danger text-center mb-3">
            <p>Votre demande a été refusée</p>
          </div>
        <% end %>


        <% elsif @meeting.user == current_user %>
        <div class="row justify-content-center d-flex">
          <%= link_to "Modifier mon annonce", edit_meeting_path(@meeting), class: "btn btn-primary mt-2 mb-3 p-2 col-6 rounded-pill" %>
        </div>
      <% end %>

      <div class="d-flex justify-content-between border-top pt-3">
        <p><strong>Jeu</strong></p>
        <span><%= @meeting.game.name %></span>
      </div>

      <div class="d-flex justify-content-between">
        <p><strong>Nombre de joueurs recherchés</strong></p>
        <span><%= @meeting.players_needed_min %>
          <% unless @meeting.players_needed_max == @meeting.players_needed_min || @meeting.players_needed_max.blank? %>
            à <%= @meeting.players_needed_max %></span>
          <% end %>
      </div>

      <div class="d-flex justify-content-between">
        <p><strong>Niveau</strong></p>
        <span><%= @meeting.level %></span>
      </div>

      <div class="d-flex justify-content-between">
        <p><strong>Catégorie</strong></p>
        <span><%= @meeting.game.category.capitalize unless @meeting.game.category.blank?  %>
      </div>


      <div class="d-flex justify-content-between">
        <p><strong>Localisation</strong></p>
        <div class="row pb-2">
          <span class="text-end"><%= @meeting.location_type %></span>
          <span class="text-end"><%= @meeting.place_name %></span>
          <span class="text-end"><%= @meeting.place_address %></span>
        </div>
      </div>

      <div class="d-flex justify-content-between pb-2">
        <p><strong>Date</strong></p>
        <span>le <i><%= @meeting.date.strftime("%d/%m/%y à %H:%M") %></i></span>
      </div>

      <% if !@meeting.description.blank? %>
        <div>
          <p><strong>Description</strong></p>
          <p class="bg-light rounded-3 p-3 text-dark"><%= @meeting.description %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
