<div class="container">
  <div class="user-form">
    <h2>Modifier <%= resource_name.to_s.humanize %></h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>En attente de confirmation pour : <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password,
                    label: "Nouveau Mot de passe",
                    hint: "Ne rien mettre si vous ne souhaitez pas le changer",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    label: "Confirmation du mot de passe",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password,
                    label: "Mot de passe actuel",
                    hint: "Veuillez renseigner votre mot de passe actuel pour valider les changements apportés à votre profil",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
      </div>

      <div class="field">
        <%= f.input :profile_picture, as: :file, label: "Photo de profil" %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Mettre à jour", class: "btn btn-primary rounded-pill"%>
      </div>
    <% end %>

    <div><%= button_to "Supprimer mon compte", registration_path(resource_name), class: "btn btn-danger btn-sm rounded-pill mt-3", data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

    <%= link_to "Back", :back %>
  </div>
</div>
