<div class="row justify-content-center">
    <div class="col-lg-6 p-5 m-5 shadow">
    <h1 class="d-flex justify-content-center annonce-titre">Crée ton annonce ! 😎</h1>
    <%= simple_form_for @meeting do |f| %>
        <%= f.input :game_id, :collection => @games,
                placeholder: "Jeu",
                label: "A quoi veux-tu jouer ?"%>
    <%= f.input :title,
                placeholder: "titre",
                label: "titre" %>
    <%= f.input :description,
                placeholder: "Description",
                label: "Description" %>
    <%= f.input :players_needed_min,
                placeholder: "1, 2, 3...",
                label: "De combien de joueurs as-tu besoin (min)?" %>
    <%= f.input :players_needed_max,
                placeholder: "Description",
                label: "Et au max?" %>
    <%= f.input :location_type,
                placeholder: "Café, Bar, Parc, A domicile ...",
                label: "Dans quel type de lieu veux-tu jouer?" %>
    <%= f.input :place_name,
                placeholder: "Café La Muse",
                label: "Quel est le nom de l'établissement?" %>
    <%= f.input :place_address,
                placeholder: "1, rue de Lodi, 13006 Marseille",
                label: "Et son adresse ?" %>
    <%= f.input :level,
                placeholder: "Débutant, confirmé, expert ?",
                label: "Quel niveau souhaites-tu donner à ta rencontre ?" %>
    <%= f.input :date,
                placeholder: "Le 12/10/2024 à 18h30",
                label: "A quelle date aura lieu le rendez-vous ?" %>
    <div class="text-center pt-3">
      <%= f.button :submit,"CREER L'ANNONCE'", class: "btn btn-primary " %>
      <%= link_to "ANNULER", meetings_path, class: "btn btn-danger text-white" %>
    </div>
    <% end %>
    </div>
</div>
<%= link_to "< Liste", meetings_path %>
