<div class="navbar navbar-expand-sm navbar-dark navbar-lewagon">
  <div class="container-fluid">
    <%= link_to meetings_path, class: "navbar-brand" do %>
      <%= image_tag "https://unpionctout.fr/wp-content/uploads/2018/05/1pion-logo-150x150.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item nav-link">
            <%= current_user.username %>
          </li>
          <li class="nav-item">
            <%= link_to "Trouver un jeu", meetings_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% unless current_user.profile_picture.attached? %>
                <%= image_tag "profil.png", class: "avatar rounded-circle", alt: "dropdown menu" %>
              <% else %>
                <%= cl_image_tag current_user.profile_picture.key, class: "avatar rounded-circle", alt: "dropdown menu" %>
              <% end %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Activités", requests_path, class: "dropdown-item" %>
              <%= link_to "Conversations", conversations_path, class: "dropdown-item" %>
              <%= link_to "Mes annonces", my_meetings_path, class: "dropdown-item" %>
              <%= link_to "Déconnexion", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item bg-danger" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Trouver un jeu", meetings_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Me connecter", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
