<div class="container">
  <div class="d-flex justify-content-between mb-2 align-items-center">
  <h3>Mes jeux en cours (orga)</h3>
  <i class="fa-solid fa-xmark"></i>
  </div>
    <% @user_meetings.each do |meeting| %>
      <div class="request-card bg-white text-black px-3 mb-4 rounded-5">
        <p>
          <%= meeting.date.strftime("%a, %kh%M") %> 
          <i class="fa-solid fa-location-dot"></i> 
          <%= meeting.place_address %>
        </p>
        <div class="d-flex">
          <div class="col-3 d-flex flex-column text-center">
            <h4><%= link_to meeting.game.name, meeting_path(meeting) %></h4>
            <div class="date-stamp d-flex flex-column justify-content-center rounded-circle bg-secondary mx-auto">
              <span class="text-center"><%= meeting.date.strftime("%-d") %></span>
              <span class="text-center"><%= meeting.date.strftime("%b") %></span>
            </div>
            <div class="mt-4">
              <%= link_to  meeting_message_path(meeting), id: "location-svg" do %>
                <i class="fa-solid fa-message display-6"></i>
              <% end %>
            </div>
          </div>
          <div class="col-9 text-end d-flex flex-column justify-content-between px-4">
            <div>
              <div class="d-flex align-items-center">
                  <p class="mb-0 pb-1"><%= meeting.user.username %> (moi)</p>
              </div>
              <% meeting.requests.each do |request| %>
                <% if request.status != "rejected" %>
                  <div class="d-flex justify-content-between align-items-center">
                    <%= link_to request_path(request) do %>
                      <p class="mb-0 pb-1">
                        <%= request.user.username %>
                        <% if request.number_of_friends == 0 %>
                          seul(e)
                        <% elsif request.number_of_friends == 1 %>
                          + 1 ami(e)
                        <% else %>
                          + <%= request.number_of_friends %> ami(e)s
                        <% end %>
                      </p>
                    <% end %>
                    <div>
                      <%= link_to accept_request_path(request), data: { turbo_method: :patch } do %>
                        <% if !request.status == Request.statuses[:accepted] %>
                          <i class="fa-regular fa-circle-check px-2"></i>
                        <% end %>
                      <% end %>
                      <%= link_to reject_request_path(request), data: { turbo_method: :patch, turbo_confirm: "Es-tu certain d'annuler cette demande?" } do %>
                        <i class="fa-solid fa-xmark"></i>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
            <div class="form-check form-switch ms-5 p-2 d-flex">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
              <label class="form-check-label ps-2" for="flexSwitchCheckDefault">Signaler comme complet</label>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  <div class="d-flex justify-content-between mb-2 align-items-center">
  <h3>Mes jeux en cours (participant)</h3>
  <i class="fa-solid fa-xmark"></i>
  </div>
  <% @requested_meetings.each do |meeting| %>
    <div class="request-card bg-white text-black px-3 mb-4 rounded-5">
      <p>
        <%= meeting.date.strftime("%a, %kh%M") %> 
        <i class="fa-solid fa-location-dot"></i> 
        <%= meeting.place_address %>
      </p>
      <div class="d-flex">
        <div class="col-3 d-flex flex-column text-center">
          <h4><%= link_to meeting.game.name, meeting_path(meeting) %></h4>
          <div class="date-stamp d-flex flex-column justify-content-center rounded-circle bg-secondary mx-auto">
            <span class="text-center"><%= meeting.date.strftime("%-d") %></span>
            <span class="text-center"><%= meeting.date.strftime("%b") %></span>
          </div>
          <div class="mt-4">
            <%= link_to meeting_message_path(meeting), id: "location-svg" do %>
                <i class="fa-solid fa-message display-6"></i>
              <% end %>
          </div>
        </div>
        <div class="col-9 text-end d-flex flex-column justify-content-between px-4">
          <div>
            <div class="d-flex justify-content-between align-items-center">
              <p class="mb-0"><%= meeting.user.username %> (moi)</p>
              <i class="fa-solid fa-xmark"></i>
            </div>
            <% meeting.requests.all.each do |player| %>
              <div class="d-flex justify-content-between align-items-center">
                <p class="mb-0"><%= player.user.username %></p>
                  <div>
                    <i class="fa-regular fa-circle-check px-2"></i>
                    <i class="fa-solid fa-xmark"></i>
                  </div>
              </div>
            <% end %>
          </div>
          <div class="form-check form-switch p-2 d-flex justify-content-center">
            <p class=""><%= Meeting.statuses[meeting.status] %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
