<div class="container">
  <h3>Mes jeux en cours (orga)</h3>
  <div class="container">
    <% @user_meetings.each do |meeting| %>
      <div class="bg-white text-black p-2 m-2">
        <p><%= meeting.date %> <span></span> <%= meeting.place_address %></p>
        <div class="row">
          <div class="col-3 text-center">
            <h4><%= link_to meeting.game.name, meeting_path(meeting) %></h4>
            <div class="d-flex flex-column rounded-circle bg-secondary">
              <p><%= meeting.date.strftime("%-d") %></p>
              <p><%= meeting.date.strftime("%b") %></p>
            </div>
          </div>
          <div class="col-9 text-end">
            <div>
              <div class="d-flex justify-content-between"><p><%= meeting.user.username %></p><span>"clickable"</span></div>
              <% meeting.requests.all.each do |player| %>
                <div class="d-flex justify-content-between"><p><%= player.user.username %></p><span>"clickable"</span></div>
              <% end %>
            </div>
          </div>
          <p class="text-end">Signaler comme complet</p>
        </div>
      </div>
    <% end %>
</div> 

  <h3>Mes jeux en cours (participant)</h3>
  <% @requested_meetings.each do |request| %>
    <div class="bg-white text-black p-2 m-2">
      <p><%= request.meeting.date %> <span></span> <%= request.meeting.place_address %></p>
      <div class="row">
        <div class="col-3 text-center">
          <h4><%= link_to request.meeting.game.name, meeting_path(request.meeting) %></h4>
          <div class="d-flex flex-column rounded-circle bg-secondary">
            <p><%= request.meeting.date.strftime("%-d") %></p>
            <p><%= request.meeting.date.strftime("%b") %></p>
          </div>
        </div>
        <div class="col-9 text-end">
          <div>
            <div class="d-flex justify-content-between"><p><%= request.meeting.user.username %></p><span>"clickable"</span></div>
          </div>

        </div>
        <p class="text-end">Signaler comme complet</p>
      </div>
    </div>
  <% end %>

  <h3>Historiques de jeux</h3>
  <% @finished_meetings.each do |meeting| %>
      <div class="bg-white text-black p-2 m-2">
        <p><%= meeting.date.strftime("%a, %Hh%M") %> <span></span> <%= meeting.place_address %></p>
        <div class="row">
          <div class="col-3 text-center">
            <h4><%= link_to meeting.game.name, meeting_path(meeting) %></h4>
            <div class="d-flex flex-column rounded-circle bg-secondary">
              <p><%= meeting.date.strftime("%-d") %></p>
              <p><%= meeting.date.strftime("%b") %></p>
            </div>
          </div>
          <div class="col-9 text-end">
            <div>
              <div class="d-flex justify-content-between"><p><%= meeting.user.username %></p><span>"clickable"</span></div>
              <% meeting.requests.all.each do |player| %>
                <div class="d-flex justify-content-between"><p><%= player.user.username %></p><span>"clickable"</span></div>
              <% end %>
            </div>
          </div>
          <p class="text-end">Signaler comme complet</p>
        </div>
      </div>
    <% end %>
  <h3>Demandes des autres joueurs à me rejoindre</h3>
    <% @other_requests.each do |request| %>
      <div class="request-card p-2 my-2  text-dark">
        <p>Jeu auxquels ils souhaitent participer: <%= request.meeting.game.name %></p>
        <p>Nombre de joueur souhaitant nous rejoindre: <%= request.number_of_friends + 1 %></p>
        <%= link_to "Voir le détail de la demande", request_path(request) %>
      </div>
    <% end %>
</div>
